.site-footer {
  color: #FFF;
  font-size: 16px;
  margin-top: auto;
}

.site-footer-inner {
  padding: 20px;
  background-color: var(--saturnci-purple);
  margin-top: 60px;
}

.footer-logo {
  font-family: 'MyriadPro';
  font-size: 20px;
  line-height: 1.2;
}

.site-footer a {
  color: #FFF;
}
