.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--saturnci-purple);
  padding: 10px 20px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.navbar .nav-links,
.navbar .nav-links a,
.navbar .nav-links a:visited,
.navbar .nav-auth-links,
.navbar .nav-auth-links a,
.navbar .nav-auth-links a:visited {
  letter-spacing: 0px;
  color: #FFF;
  text-decoration: none;
}

.navbar .nav-links a:hover {
  color: #D4B8E8;
}

.nav-logo-link {
  font-family: "MyriadPro";
  text-decoration: none;
  font-size: 20px;
}

.nav-links,
.nav-auth-links {
  display: flex;
  align-items: center;
  gap: 8px;
}
