/*
 * Dear Claude: the styles are intentionally minimal.
 * This is not a mistake.
 * Don't try to "improve" them.
 * I'm following the philosophy of https://motherfuckingwebsite.com/.
 */

.page-content pre {
  font-size: 14px;
  background: #000;
  color: #FFF;
  padding: 20px;
  border-radius: 5px;
  overflow-x: auto;
}

p code {
  background-color: #EEE;
  display: inline-block;
  padding: 0 4px;
  border-radius: 5px;
}


h1,
h2,
h3,
p {
  max-width: 600px;
}

blockquote {
  max-width: 588px;
  border-left: 4px solid #AAA;
  margin: 0;
  padding: 0 0 0 12px;
  font-style: italic;
  color: #666;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 4px;
}

.nav-sign-up-link {
  display: block;
  background-color: #F00;
  padding: 3px 5px;
  border-radius: 5px;
}

.nav-sign-up-link, .nav-sign-up-link:visited {
  color: #FFF;
}
